<!-- <!DOCTYPE html>
    <html lang="en">    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="./signup.css">
        <script src="https://cdn.tailwindcss.com"></script> 
    </head>

    <body>

        <div>
            <form method="post" action="/create" style="display: flex; margin: 30px 650px; flex-direction: column; border: 2px solid black;margin-left: 5px;">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" placeholder="Enter the username" name="username" style="border: 2px solid black; width: 200px; padding: 4px 4px;">
                <br>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="email" placeholder="Enter the email" name="email" style="border: 2px solid black; width: 200px; padding: 4px 4px;">
                <br>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="password" placeholder="Enter the password" name="password" style="border: 2px solid black; width: 200px; padding: 4px 4px;">
                <br>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" placeholder="Enter the age" name="age" style="border: 2px solid black; width: 200px; padding: 4px 4px;">
                <br>&nbsp;&nbsp;&nbsp;&nbsp;
            
                <!-- <input type="submit" value="Create User" style="border: 2px solid black; width: 150px; margin-left: 25px;"> -->
                <!-- <button type="submit">submit</button>

                
            </form>

            <form action="/login" method="get">
                <button type="submit">login</button>
            </form>

        </div>

    </body>
</html>  -->


<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Notes App</title>
    <link rel="stylesheet" href="/signup.css">
</head>

<body>
    <div class="container">
        <h1>Create an Account</h1>

        <form method="post" action="/create" class="form">
            <input type="text" placeholder="Enter your username" name="username" required>
            <input type="email" placeholder="Enter your email" name="email" required>
            <input type="password" placeholder="Enter your password" name="password" required>
            <input type="text" placeholder="Enter your age" name="age" required>
            <button type="submit" class="btn">Sign Up</button>
        </form>

        <a href="/login" class="already">Already have an account? login</a> 
        
    </div>
</body>
</html>

