/* Style the form inside the container */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}



.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.form input {
  width: 250px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-size: 16px;
  transition: border 0.3s ease;
}

.form input:focus {
  border-color: #4caf50;
  outline: none;
}

.form button {
  width: 150px;
}

.already {
  margin-top: 15px;
  display: block;
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

.already:hover {
  text-decoration: underline;
  cursor: pointer;
}